$white: #ffffff;
$black: #000000;

$top-navbar-bg: #f4f7fa;
$top-navbar-text: #282c37;
$top-navbar-icon: #647d80;

$pin-map-body-bg: #ea5a5a;
$pin-map-label-bg: #282c37;
$pin-map-label-bg-active: #92d72e;
$pin-map-label-text: #ffffff;

$navbar-main-bg: #313541;
$navbar-main-active-menu: #72cdd2;
$navbar-main-text: #8298a0;
$navbar-main-text-active: #ffffff;
$navbar-detail-bg: #282c37;
$navbar-text-header: #ffffff;
$navbar-text-active: #92d72e;
$navbar-text-active-bg: #1c1f27;

$right-bar-bg: #313541;
$right-bar-text: #c2c2c3;
$right-bar-header-text: #FFFFFF;
$right-bar-header-text-bg: #72cdd2;
$right-bar-icon-location: #72cdd2;
$right-bar-icon-web: #92d72e;
